.content{
    width: 100%;
    background: #E5E5E5;
    margin: 0 auto;
    max-width: 1200px;
}

.oneTitlle, .twoTitlle, .threeTitlle, .fourTitlle, .fiveTitlle, .sixTitlle, .sevenTitlle{
    font-family: 'Koulen';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}

.oneTitlle, .oneText, .fiveTitlle, .sixTitlle, .sevenTitlle, .imgMan, .imgScreenshots{
    margin-left: 2rem;
}

.twoTitlle, .fourTitlle{
    text-align: center;
}
.threeTitlle{
    margin-left: 50rem;
}
.threeText{
    margin-left: 12rem;
}
.imgCaptionBig{
    width: 95%;
    margin: 0 auto;
    display: block;
    
}
.oneText, .threeText{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
}

.imgCaptionMini{
    width: 70%;
    margin: 0 auto;
    display: block;
}
.imgScroll{
    height: 237px;
    display: block;
    margin: 0 auto;
}
.imgMan{
    width: 150px;
}
.imgScreenshots{
    width: 398px;
}
.scroll{
    border: 8px solid #0A2D50;
    background-color: #0A2D50;
    width: 654px;
    cursor: pointer;
    margin-left: 1rem;
}