.content{
    width: 100%;
    min-width: 1440px;
    background-color: #FFFFFF;
    margin: 0 auto;
}
header{
    width: 100%;
    max-height: 110px;
    min-height: max-content;
}
.logo{
    font-family: 'M PLUS 1';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #3E45E8;
    text-align: center;
    cursor: pointer;
}
.logoYellow{
    color: #FBE201;
}

.rectangleBlue{
    width: 22px;
    height: 136px;
    border: 1px solid #1E8DF2;
    background-color: #1E8DF2;
}
.rectangleYellow{
    width: 22px;
    height: 136px;
    border: 1px solid #FBE201;
    background-color: #FBE201;
}
.promo{
    background-image: url(/img/image\ 1.png);
    height: 803px;
    background-size: cover;
    
    
}    
.promoText{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;
    padding-bottom: 1rem;
    padding-left: 1rem;
}
.flag, .promoTextTitle{
    display: inline-block;
    position: inherit;
    
}

.promoTextTitle{
    max-width: 75%;
    
}
.flag{
    padding-left: 5rem;
    padding-top: 15rem;
}

.sectionTitle{
    margin-left: 5rem;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #000000;
    margin-top: 5rem;
    text-transform: uppercase;
}
.line{
    border-bottom: 5px solid #3E45E8;
    width: 30%;
    margin-left: 5rem;
    margin-top: 2rem;
    
}

.card{
    display: inline-block;
    margin-top: 3rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 57px 3px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-right: 1rem;
    margin-left: 1rem;
    cursor: pointer;
    vertical-align: top;
    width: 30%;
}



.hand{
    width: 87px;
    height: 81px;
    
}
.cardTitle{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #1E8DF2;
    margin-top: 1rem;
    margin-left: 1rem;
}

.cardText{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #E8C23E;
    margin-left: 1rem;
    margin-top: 1rem;
    
}

.cardImg{
    display: block;
    width: 100%;
}
.card_margin{
   margin-left: 2rem;
   margin-right: 2rem; 
}

.cardInfo{
    height: 10rem;
}

.cardInfo, .hand{
    display: inline-block;
    
}

.sectionMotto{
    text-align: center;
}

.motto{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #000000;
    margin-top: 5rem;
    text-transform: uppercase;
}

.sectionMotto>.line{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.imgMotto{
    margin-top: 5rem;
    width: 100%;
}

.button{
    border: 1px solid #2A61F0;
    background-color: #2A61F0;
    width: 30%;
    height: 6rem;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    min-width: max-content;
}

footer{
    background-color: #2F4A4B;
    text-align: center;
}

.social{
    display: inline-block;
}

.contact{
    font-family: 'Marcellus SC';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color:#A89D9D;
    margin-top: 1rem;
    text-decoration: none;
}



.social>img{
    margin: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}