.container{
    max-width: 1000px;
    min-width: 700px;
    background: #F9F9F9;
    margin: 0 auto;
    padding: 4rem 2rem;
    
}

h1{
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    margin: 0;
    color: #171717;
}
.text{
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #171717;
    margin-top: 4rem;
}
.text > span{
    color: #D83933;
}
h2{
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #171717;

}
.line{
    border-top: 1px solid #D1D1D1;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.form_section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form{
    display: flex;
    flex-direction: column;
    
}
.bg{
    background-color:#ADADAD;
}
label{
    padding-top: 1rem;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #171717;
    
}
input, select{
    margin-top: 0.5rem;
}


#optional{
    background-image: url(/img/arrow-down-s-line.svg);
    background-repeat: no-repeat;
    background-position: right;
}

#search{
    background-image: url(/img/search.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 1rem;
}
.blue{
    color: #0050D8;

}

input, select{
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    width: 400px;
    height: 40px;
}

.button{
    padding: 1rem 1.5rem;
    background-color: #0050D8;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 0.2rem;
    float: right;
    
}

#checkbox{
    
    width: 40px;
}

.checkbox2{
    margin-top: 8rem;
}

.checkbox3{
    margin-top: 2rem;
}

.checkbox1{
    margin-top: 1rem;
}