
body{
    
    max-width: 1600px;
    min-width: 800px;
    width: 100%;
    margin: 0 auto;
    background-color: crimson;
    height: auto;
}


.gray{
    width: 100%;
    background: linear-gradient(0deg, rgba(64, 65, 73, 0.9), rgba(64, 65, 73, 0.9)), #404149;
    background-image: url(/img/Rectangle.png);
    height: 740px;
}

.logo{
    margin-left: 20%;
    margin-top: 13px;
}

.menu-gambuger{
    float: right;
    margin-right: 20%;
    margin-top: 30px;
    width: 50px;
    height: 50px;
    background: #F7654A;
    cursor: progress;  
}
.gambuger > div{
    
    width: 21px;
    border-bottom: 4px solid #ffffff;
    padding-top: 5px;
}

.gambuger{
    margin-left: 13px;
    margin-top: 11px;
}

.whitetext64, .whitetext18{
    text-align: center;
}

.whitetext64{
    margin-top: 192px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.whitetext18{
    margin-top: 35px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.numbers-item-rectangle{
    width: 60%;
    height: 300px;
    margin: 0 auto;
    margin-top: 120px;
    background: #F7F7F7;
    text-align: center;
}    

.numbers-item{
    display: inline-block;
    text-align: center;
    width: 15%;
    margin-top: 40px;
    padding: 15px;
    
}

.numbers-item :nth-child(1){
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    text-transform: uppercase;
    color: #F7654A;

}

.numbers-item :nth-child(2){
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
    color: #000000;
}

.numbers-item :nth-child(3){
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #999999;

}

.white{
    background-color: #ffffff;
    padding-top: 8rem;
}
.blacktext36{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #404149;


}

.projects{
    text-align: center;
    width: 75%;
    margin: 0 auto;
}
.project{
    display: inline-block;
    width: 25%;
    padding: 15px;
    cursor: progress;
}
.project-image{
    width: 100%;
    height: 380px;
    
}
.orangeline{
    width: 20%;
    height: 6px;
    margin-top: 45px;
    background: #F7654A;
}
.blacktext24{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #404149;
    margin-top: 15px;
    text-align: left;
}
.project-text{
    text-align: left;
    width: 100%;
}
footer{
    width: 100%;
    background: #F7654A;
    height: auto;
}

h3{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-left: 20%;
    margin-top: 30px;
    line-height: 1.2em;
    
}

.font24{
    font-size: 24px;
    margin-top: 15px;
}

.request-button{
    width: 175px;
    height: 49px;
    background: #FFFFFF;
    margin-top: 73px;
    cursor: progress;
    float: right;
    margin-right: 20%;
}

h3, .request-button{
    display: inline-block;
}

.image-button, .text-button{
    display: inline-block;
}

.image-button{
    margin-left: 30px;
    margin-top: 15px;
    
}

.text-button{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.05em;
    color: #000000;
    text-transform: uppercase;
    margin-left: 15px;
}
