body{
    width: 100%;
}

header{
    max-height: 90px;
    background-color: #202846;
    width: 100%;
    overflow: hidden;
   
}

.logo{
    
    width: 10%;
    padding: 0.5rem;
    padding-left: 4rem;
}
.menu > a, .menu{
    
    padding-right: 1rem;
    padding-left: 1rem;
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
    
}
.menu_line{
    border-left: 2px solid #ffffff;
    height: 2rem;
    
    
}
.logo, .menu, .menu_line, .lang{
    display: inline-block;
}

nav{
    float: right;
    padding-right: 2rem;
    display: flex;
    align-items: center;
    
}

.lang{
    margin-top: 1rem;
    margin-left: 2rem;
  
}



.title{
    height: 140px;
    background-color: #C6C6DC;
    
}

h1{
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    color: #202846;
    margin-top: 0;
    padding: 2rem 10rem;
}

.content{
    background-color: #E5E5E5;
    padding-top: 10rem;
    padding-bottom: 5rem;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.card{
    background: #BDBDC6;
    width: 85%;
    margin: 0 auto;
    height: 20%;
    margin-top: 3rem;
    position: relative;
    margin-left: 5rem;
}

.img_card, .info_card, .pin_card, .button_card > a{
    display: inline-block;
}
.img_card{
    margin: 2rem 4rem;
    width: 35%;
   
}
.info_card{
    vertical-align: top;
    margin-top: 2rem;
    width: 50%;
    margin-bottom: 2rem;
    margin-left: 2rem;
    position: relative;
}
h2{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    color: #353C57;

}
.line_card{
    border-top: 3px solid #FFFFFF;
    width: 100%;
    margin-top: 0.5rem;
    
}

.text_card{
    background-color: #D7D7DD;
    text-align: center;
    margin-top: 1rem;
    height: 50%;
    
    
}
.text{
   height: 90%;
    background-size: 40%;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #202846;
    
    margin: auto;
}
.text.first{
    width: 80%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    
}
.text.second{
    width: 65%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
}

.text.third{
    width: 84%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    
}
.text.four{
    width: 89%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
}
.pin_card{
    margin-left: 1rem;
    vertical-align: top;
    margin-top: 1rem;
    float: right;
    margin-right: 1rem;
    fill: inherit;
}
.card:hover .pin_card path{
    fill: yellow;
    
}
.button_card > a{
    background-color: #202846;
    border-radius: 30px;
    padding: 12px 26px;
    position: absolute;
    text-align: center;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
    bottom: 1rem;
    right: -3rem;
    
}


.pin_card:hover{
    fill: yellow;
    
}
.arrow{
    float: right;
    position: absolute;
    margin-left: 2rem;
}
.card, .arrow{
    display: inline-block;
}
footer{
    max-height: 90px;
    background-color: #202846;
    width: 100%;
    
    
}

.footer_text{
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    color: #EEECF1;
    padding: 1rem 4rem;
    
}