.content{
    width: 100%;
    height: 100%;
    background: #201636;
    max-width: 1920px;

    
    
}

.titlesheet{
    background-image: url(/img/Superhero.png);
    background-repeat: no-repeat;
    background-size: 1229px 767px;
    background-position: 61px 238px;
    width: 100%;
    height:  981px;
    margin-top: 0;
}

.homepage{
    float: right;
    margin-top: 390px;
    margin-right: 300px;
    
}

.head{
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 80px;
}

.headtext{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.task{
    width: 670px;
    height: 54px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
   
    
}

.task_text{
    color: #211637;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    padding-top: 10px;
}

.start_image, .start_information, .start_image2, .start_button{
    float: left;
    
}
.start_image{
    margin-top: 20px;
}
.start_information{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 20px;
    margin-top: 50px;
}

.start_button{
    width: 300px;
    height: 56px;
    background: #F09F0C;
    box-shadow: 0px 4px 20px #7D5103;
    margin-top: 50px;
}

.start_button_text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #1F1F1F;
    margin: 20px auto;

}

.start_image2{
    margin-right: 10px;
    margin-top: 50px;
}


.sheet2{
    background: linear-gradient(180deg, #211637 0%, rgba(34, 24, 57, 0) 100%);
    background-image: url(/img/shutterstock_1059416720.png);
    width: 1920px;
    height: 783px;
}


.information_page{
    
    margin-left: 375px;
    margin-right: 375px;
   
}



.block{
    display: inline-block;
    width: 31%;
    text-align: center;
    margin-top: 130px;

}
.block:nth-child(1){
    margin-right: 30px;
}
.block:nth-child(3){
    margin-left: 30px;
}
.blockicon{
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

.blocktext{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    color: #FFFFFF;
    margin-top: 30px;
}

.bold{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 16px; 
    color: #FFFFFF;
}

.man{
    float: left;
    
}
.finalsheet{
    width: 100%;
}
.finalmotto{
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    color: #FFFFFF;
    margin-top: 130px;
}

.yellow{
    color: #F09F0C;
}

.finalhead{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
}

.finallist{
    list-style-type: none;
    list-style-image: url(/img/Arrow.png);
    width: 30%;
    margin-top: 90px;
    margin-left: 50%;
}

.finaltext{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 25px;
}