body{
    background-color: #212529;
    width: 100%;
    min-width: 1440px;
    
}

header{
    background-color: #212529;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav{
    display: flex; 
    width: 50%;
    justify-content: center;
    list-style: none;
}
li.nav_menu > a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    text-transform: capitalize;
    padding: 1rem;
    text-decoration: none;
    transition: all .4s;
}
li.nav_menu > a:hover{
    color: #FFB742;
    
}


.button > a{
    margin-right: 2rem;
    padding: 12px 26px;
    width: 70px;
    height: 30px;
    background-color: #FFB742;
    border-radius: 50px;
    transition: all .4s;
    display: flex;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #212529;
    text-decoration: none;
    
}



.intro{
    text-align: center;
    display: flexbox;
}

.intro_title, .intro_hi, .intro_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
    margin-top: 5rem;
}

.intro_hi > span{
    color: #FFB742;
    text-decoration: underline;
}

.intro_title{
    font-size: 48px;
    margin-top: 2rem;
}

.intro_text{
    font-weight: 400;
    font-size: 24px;
    margin-top: 2rem;
}

.avatar{
    margin-top: 2rem;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding-top: 10rem;
}
.card{
    width: 416px;
    height: 120px;
    background-color: #292B2E;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all .4s;
    border-radius: 10px;
}



.chevron{
    background-size: 64px;
    background-image: url(/img/entypo_chevron-right.svg);
    background-repeat: no-repeat;
}

.card:hover .chevron{
    background-repeat: no-repeat;
    background-image: url(/img/entypo_chevron-right\ \(1\).svg);
    background-size: 64px;
    transition: all .4s;
}
.card_info{
    text-align: center;

}

.card_title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #FFB742;
    transition: all .4s;

}

.card_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    transition: all .4s;
}


.card:hover .card_text{
    
    transition: all .4s;
    color: #000000;
}
.card:hover .card_title{
    transition: all .4s;
    color: #000000;
}

.card:hover{
    background-color: #FFB742;
}
.about{
    display: flex;
    justify-content: space-around;
    
}

.img_about{
    flex-flow: row;
    margin-top: 10rem;
}

.content{
    flex-flow: row;
    margin-top: 15rem;
    margin-left: 5rem;
    width: 51%;
}
.content_title{
    background: rgba(255, 255, 255, 0.08);
    padding: 6px 25px;
    width: 148px;
    border-radius: 50px;
    color: #FFB742;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.section_title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;
}

.content_text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #D5D5D5;
    width: 90%;
    line-height: 30px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.section_works{
    align-items: center;
    display: flex;
    flex-flow: column;
    margin-top: 5rem;
    margin-bottom: 7rem;
}
.works_nav{
    display: flex; 
    width: 50%;
    justify-content: center;
    list-style: none;
}
li.works_nav_menu > a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    text-transform: capitalize;
    padding: 5px 25px;
    text-decoration: none;
    transition: all .4s;
}
li.works_nav_menu > a:hover{
    background-color: #FFB742;
    padding: 5px 25px;
    color: #212529;
    transition: all .4s;
}

.works_img{
    padding: 1rem;
}
footer{
    display: flex;
    justify-content: space-around;
    background-color: #1C1C1C;
    height: 470px;
    
}

.footer_main_title{
    margin-top: 7.5rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #FFB742;
}

.footer_main_text{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #D4D4D4;
    margin-top: 2rem;
    width: 75%;
    line-height: 32px;
}
.footer_title{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 21.5865px;
    color: #F5FBF2;
    list-style: none;
    margin-top: 8rem;
    
}


li.footer_text > a{
    text-decoration: none;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 17.9888px;
    color: #7B7B7B;
    list-style: none;
}

.footer_text:nth-child(1){
    padding-top: 2rem;
    width: 75%;

}

.footer_text{
    padding-top: 1rem;
}