
.sheet{
    
    background: #131313;
    margin: 0;
}
header{
    margin: 0 auto;
    width: 70%;
    height: 60px;
    border-bottom: 1px solid #272727;
    margin-top: 1rem;
}

.logo, .cardnumber, .navigation, .navigation-item{
    display: inline-block;
    list-style: none;
    
}

.logo, .cardnumber{
    float: left;
}
.logo{
    
    font-family: 'Caveat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #1ACD4C;
    margin-right: 1rem;
    border-right: 1px solid #272727;
    padding-right: 3rem;
    
    }
.cardnumber{
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin: 1rem 2rem;
   
}

.navigation-item a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 1rem;
    
}

.navigation-item .history{
    
    color: #4F4F4F;
    
}

.navigation{
    float: right;
}


.titletable{
    margin-top: 6rem;
    font-family: 'Montserrat';
    font-style: normal;
    color: #FFFFFF;
    text-align: left;
    font-weight: 900;
    font-size: 30px;
}

table{
    
    margin: 2rem auto;
    width: 1146px;
    text-align: left;
    border-collapse: collapse;
}

.headtable{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    color: #727272;
    text-transform: uppercase;
    
}

.bodytable{
    font-family: 'Montserrat';
    font-style: normal;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    
    
}

td{
    padding: 1rem 0;
   
}
.body_row{
    border: 1px solid #272727;
    
}

.page{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding: 1rem;
    display: inline-block;
}

.first{
    color: #4F4F4F;
}

footer{
    text-align: center;
    margin-top: 2rem;
}